@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Roboto", serif;
    padding:0px;
    margin:0px;
    background:#220e24;
}
.po-1{
   
    color:#639cd9;
}
.po-1 h3{
    font-size:30pt;
}
.po-1 a{
text-decoration:none;
color:#639cd9;
font-size: 22pt;
}
.po-2{
    display:flex ;
    justify-content:center;
    justify-content:space-between;
    padding: 17px 50px;

    
}
.po-2 i{
    font-size:28pt;
    display:none;
}


@media only screen  and (max-width:768px){
   
    .po-2 {
        display:none;
        }
        .po-2 i{
   display:block;
        }
}